<div class="container">
  <div class="table-container">
    <table class="table table-bordered my-shadow">
      <tbody>
        <tr>
          <td class="fw-bold">First Name</td>
          <td>{{ user.firstName + " " + user.lastName }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Email</td>
          <td>
            {{ user.email }} &nbsp;&nbsp;
            <span [ngClass]="user.isVerified==true?'text-success':'text-danger'">
              {{user.isVerified==true?'verified':'not-verified'}} 
              
              <i [class]="user.isVerified==true?'bx bx-user-check fs-5':'bx bx-error-circle'"></i>
            </span>
            &nbsp;
            <span routerLink="/verify" [queryParams]="{ email: user.email }" *ngIf="!user.isVerified==false"><a href="">verify</a></span>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">Address</td>
          <td>{{ user.address }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Mobile Number</td>
          <td>{{ user.mobile }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button class="btn btn-dark" routerLink="/edit-account">Edit</button>
    </div>
  </div>
</div>
