<form [formGroup]="registerForm" (ngSubmit)="getOtp()">
  <div class="row mb-3">
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        [ngClass]="
          submitted && registerForm.get('firstName')!.invalid
            ? 'is-invalid'
            : ''
        "
      />
      <div
        class="invalid-feedback"
        *ngIf="submitted && registerForm.get('firstName')!.invalid"
      >
        First Name should not be empty
      </div>
    </div>
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        [ngClass]="
          submitted && registerForm.get('lastName')!.invalid ? 'is-invalid' : ''
        "
      />
      <div
        class="invalid-feedback"
        *ngIf="submitted && registerForm.get('lastName')!.invalid"
      >
        Last Name should not be empty
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      formControlName="email"
      [ngClass]="
        submitted && registerForm.get('email')!.invalid ? 'is-invalid' : ''
      "
    />
    <div
      class="invalid-feedback"
      *ngIf="submitted && registerForm.get('email')!.invalid"
    >
      Please enter a valid email address.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Address</label>
    <input
      type="text"
      class="form-control"
      id="address"
      formControlName="address"
      [ngClass]="
        submitted && registerForm.get('address')!.invalid ? 'is-invalid' : ''
      "
    />
    <div
      class="invalid-feedback"
      *ngIf="submitted && registerForm.get('address')!.invalid"
    >
      Address should not be empty
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Mobile</label>
    <input
      type="text"
      class="form-control"
      id="mobile"
      aria-describedby="emailHelp"
      maxlength="10"
      formControlName="mobile"
      [ngClass]="
        submitted && registerForm.get('mobile')!.invalid ? 'is-invalid' : ''
      "
    />
    <div
      class="invalid-feedback"
      *ngIf="submitted && registerForm.get('mobile')!.invalid"
    >
      Mobile Number should not be empty
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        formControlName="pwd"
        [ngClass]="
          submitted && registerForm.get('pwd')!.invalid ? 'is-invalid' : ''
        "
      />
      <div
        class="invalid-feedback"
        *ngIf="submitted && registerForm.get('pwd')!.invalid"
      >
        Password must contain at least 1 capital letter, 1 small letter, 1
        number, and 1 special character.
      </div>
    </div>
    <div class="col">
      <label for="exampleInputPassword2" class="form-label"
        >Repeat Password</label
      >
      <input
        type="password"
        class="form-control"
        id="rpwd"
        formControlName="rpwd"
        [ngClass]="
          submitted && registerForm.get('pwd')!.invalid ? 'is-invalid' : ''
        "
      />
    </div>
  </div>
  <div class="col">
    <label for="exampleInputPassword2" class="form-label"
      >Enter OTP</label
    >
    <input
      type="text"
      class="form-control"
      id="otp"
      formControlName="otp"
      [ngClass]="
        submitted && registerForm.get('otp')!.invalid ? 'is-invalid' : ''
      "
    />
  </div>
  <div class="text-center">
    <button type="submit" [disabled]="!isVerified" class=" mx-auto btn btn-outline-primary">
      Submit
    </button>
    <button [disabled]="registerForm.get('email')!.invalid" (click)="getOtp()" class="mx-auto btn btn-outline-primary">
      Get Otp
    </button>
    <button [disabled]="registerForm.get('otp')!.invalid" (click)="getOtp()" class="mx-auto btn btn-outline-primary">
      Verify
    </button>
  </div>
  
</form>
