<div *ngIf="usersCart.cartItems.length === 0" class="empty-cart">
  <i class="bx bxs-cart-add fs-1"></i>
  <p class="fw-bold text-center mt-3">Your cart is empty.</p>
  <p class="text-center">Please add some items to your cart.</p>
</div>

<div *ngIf="usersCart.cartItems.length !== 0" class="my-container mx-auto">
  <section class="m-3 p-4 border my-rounded-corner">
    <h4 class="w-25 border text-center py-2 my-rounded-corner">Patment Info</h4>
    <table class="table w-50 mx-auto table-bordered table-hover my-shadow">
      <tbody>
        <tr>
          <td>Total Items</td>
          <td class="fs-5 fw-bold">{{ usersCart.cartItems.length }}</td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td class="fs-5 fw-bold text-danger">
            {{ usersPaymentInfo.totalAmount | currency : "INR" }}
          </td>
        </tr>
        <tr>
          <td>Shipping Charges</td>
          <td class="fs-5 fw-bold text-danger">
            + {{ usersPaymentInfo.shippingCharges | currency : "INR" }}
          </td>
        </tr>
        <tr>
          <td>Discount</td>
          <td class="fs-5 fw-bold text-success">
            - {{ usersPaymentInfo.amountReduced | currency : "INR" }}
          </td>
        </tr>
        <tr>
          <td>You Have to Pay</td>
          <td class="fs-5 fw-bold text-success">
            {{ usersPaymentInfo.amountPaid | currency : "INR" }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button class="btn btn-dark" routerLink="/cart">Go to Cart</button>
    </div>
  </section>

  <section class="m-3 p-4 border my-rounded-corner">
    <h4 class="w-25 border text-center py-2 my-rounded-corner">
      Proceed to Payments
    </h4>
    <div class="mt-4 mx-auto" style="max-width: 600px">
      <table class="table table-bordered my-shadow">
        <thead>
          <tr>
            <th scope="col">You have to Pay</th>
            <th scope="col">
              <span class="font-weight-bold text-success">
                {{ usersPaymentInfo.amountPaid | currency : "INR" }}
              </span>
            </th>
          </tr>
          <tr>
            <th scope="col">Address</th>
            <td *ngIf="true">
              {{ address }}
            </td>
            <td *ngIf="!true">
              You have not entered an address.
              <a routerLink="/account-settings">Please Enter that.</a>
            </td>
          </tr>
          <tr>
            <th scope="col">Mobile Number</th>
            <td *ngIf="true">
              {{ mobileNumber }}
            </td>
          </tr>
        </thead>
      </table>

      <div class="d-flex justify-content-center flex-wrap">
        <button
          type="button"
          class="btn btn-warning mb-2 col-12 col-md-5 me-md-2"
          (click)="placeOrder()"
        >
          Check Out
        </button>
        <button
          class="btn btn-dark mb-2 col-12 col-md-5 ms-md-2"
          routerLink="/edit-account"
        >
          Edit
        </button>
      </div>
    </div>
  </section>
</div>
