body {
  font-family: "Open Sans", sans-serif;
}
.my-container {
  max-width: 1500px;
}
.my-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.my-rounded-corner {
  border-radius: 1rem;
}

.modal-backdrop.fade.show {
  z-index: 19;
}
.btn {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
}

.dark,
.dark * {
  background-color: #212529;
  color: #fbfbfb;
  border-color: #fbfbfb;
  outline-color: #fbfbfb;
}
.dark btn:hover {
  background-color: #fbfbfb;
  color: black;
}
